.blog-div {
  display: flex;
  flex-direction: column;
  text-align: start;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px 20px;
  margin: 0 15px 35px;
}

.blog-title {
  margin-bottom: 8px;
}
.blog-link {
  font-weight: 500;
  margin: 8px 5px 0;
}
.blog-time,
.blog-comments {
  font-size: 12px;
  margin-right: 20px;
  margin-left: 10px;
}

.blog-link-date {
  display: flex;
  justify-content: space-between;
}
