.form-input {
  width: 250px;
  height: 30px;
  padding-left: 5px;
}

.form-button {
  margin-top: 10px;
  font-size: 0.8rem;
  background: none;
  border: 1px solid rgb(91, 117, 53);
  border-radius: 10px;
  padding: 0.3rem 0.75rem;
  cursor: pointer;
  color: rgb(105, 93, 93);
  transition:
    background 0.15s,
    color 0.15s;
}

.form-button:hover {
  background: blanchedalmond;
  color: black;
}
label {
  display: flex;
  flex-direction: column-reverse;
}

label > span {
  transition: all 0.2s;
  transform-origin: top left;
}

label > input[placeholder=" "]:not(:focus):placeholder-shown + span {
  transform: translateY(1.5em) scale(1.25);
  pointer-events: none;
  opacity: 0.5;
  margin-left: 5px;
}

.create-link {
  color: blueviolet;
  transition: font-size 0.5s;
}

.create-link:hover {
  color: blue;
  font-size: 17px;
}
